## Textbook 2.E Exercises

#### Exercise 1: Type the following statements in the Python interpreter to see what they do:

>5</br>
x = 5</br>
x + 1</br>

In [1]:
5

5

In [2]:
x = 5

In [3]:
x + 1

6

#### Exercise 2: Write a program that uses input to prompt a user for their name and then welcomes them.

In [2]:
### Ask for name and say hello

name = input('What is your name?')
print('Hello', name)

What is your name? Tyler

Hello Tyler

#### Exercise 3: Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [1]:
### Calculate total pay based on hours and rate

hours = input('Enter hours: ')
rate = input('Enter pay rate: ')
pay = float(hours) * float(rate) 
print('Pay:', pay)

Enter hours:  35
Enter pay rate:  2.75

Pay 96.25

#### Exercise 4: Assume that we execute the following assignment statements:

>width = 17</br>
height = 12.0

For each of the following expressions, write the value of the expression and the type (of the value of the expression).

>width//2</br>
width/2.0</br>
height/3</br>
1 + 2 * 5

In [11]:
### Working with width and height

width = 17
height = 12.0

frs = width // 2
snd = width / 2.0
thu = height / 3
frt = 1 + 2 * 5

print('Q1:', frs)
print(type(frs))
 
print('Q2:', snd)
print(type(snd))

print('Q3:', thu)
print(type(thu))

print('Q4:', frt)
print(type(frt))

Q1: 8
<class 'int'>
Q2: 8.5
<class 'float'>
Q3: 4.0
<class 'float'>
Q4: 11
<class 'int'>

#### Exercise 5: Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

In [1]:
### Convert Celsius to Farenheit

cls = float(input('Enter Celsius temperature: '))
fht = cls * 1.8 + 32
print(cls, 'degrees Celsius is', fht, 'degrees Farenheit')

Enter Celsius temperature:  Forty-two

ValueError: could not convert string to float: 'Forty-two'